@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&family=Fira+Code:wght@300;400;500&display=swap');


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Main container */
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 70px;
  font-weight: 700;
}

.Red {
  color: #f4543c;
  font-family: 'Inter', Arial, Helvetica, sans-serif;

}

.typing {
  font-size: 45px;
  color: white;
  font-weight: 400;
}

/* Content section */
.content {
  padding-top: 15%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: white;
  padding-right: 10%;
}

.contact-me-btn {
  margin-top: 20px;
}

.comp3{
  padding-top: 100px;
  min-height: 50vh;
  margin-bottom: 100px;
}
.About{
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin: 0px 20%;
}

.About p{
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.Content3{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.Content3 a{
  font-size: 20px;
  font-weight: 300;
  border-radius: 20px;
}

.Content3 a:hover{
  transform: scale(1.2);
}

.scale1:hover{
  transform: scale(1.2);
}
.comp2{
  width: 94%;
  min-height: 100vh;
  border-radius: 3%;
  max-height: max-content;
  margin: 0px 3%;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 1%, rgba(61,61,61,0.7) 12%, rgba(120,120,120,0.7) 22%, rgba(207,207,207,0.9) 44%,
  rgba(235,235,235,0.9) 58%, rgba(255,255,255,1) 81%);
  padding: 20px;
  z-index: -1;
}
.curve img{
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
.ExperienceHeader{
  color: black;
  padding: 40px;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

/* Timeline.css */
.container7 {
  position: relative;
  width: 43%;
}
.container6{
  width: 100%;
  height: auto;
  position: relative;
} 

.container6::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 0; /* Start height at 0 */
  background: #f4543c;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
  
}

.line-height-experience{
  line-height: 25px;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.container6.animate-line::after {
  animation: moveline 4s linear forwards; /* Trigger animation when class is added */
}


.experience {
  padding: 20px 30px;
  position: relative;
  color: white;
  transition: transform 1s ease, outline 1s ease; /* Adjusts the transition duration */
}

.experience:hover{
  transform: scale(1.05);
  z-index: 1;
}

.left {
  left: 0;
  margin-left: 5%;
}

.right {
  left: 52%;
  margin-right: 5%;
}

.LogoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.placeholder-img {
  width: 50px;
  height: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}

.SZ { background-color: #141a46; }
.LD { background-color: #005faf; }
.PSS { background-color: #1d783d; }
.TS { background-color: rgb(227, 76, 38); }
.CEES { background-color: goldenrod; }

.comp4{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: black;
  background-image: url("../Media/WhiteUofC.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.WhiteColor{
  color: white;
}

.comp2{
  margin-bottom: 40px;
}
.BlackColor{
  color: black;
}

.WhiteColor-Hover-Change{
  color: white;
}

.BlackColor-Hover-Change{
  color: black;
}

.BlackColor-Hover-Change:hover{
  color: white;
  background-color: black;
}

.WhiteColor-Hover-Change:hover{
  color: black;
  background-color: white;
}

.comp5 {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  color: white;
  background-color: rgb(0, 0, 0); /* Translucent black with 50% opacity */
}

.education-content{
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}
.comp7 {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  color: white;
  background-color: black;
  background-image: url("../Media/Forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  padding-top: 20px;
  /* Remove z-index here */
}

.comp7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1; /* Overlay goes above the background */
}

.allStack {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 2; /* Ensure content is above the overlay */
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  font-size: 30px;
}

.stackIcon {
  font-size: 64px;
}

.stackIcon:hover {
  transform: scale(1.2);
}

.comp6{
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  background-color: black;
  background-image: url("../Media/ColoredUofC.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    z-index: -1;
}

.TechStackHeader{
  color: white;
  padding: 40px;
  font-size: 50px;
  text-align: center;
  position: relative;
  z-index: 3; /* Ensure content is above the overlay */

}
/* Button Styles */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn-white {
  background-color: #f4543c;
  color: azure;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
}

.btn-white:hover {
  transform: scale(1.05);
}


.btn-white::after {
  background-color: #f4543c;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Animated Button */
.btn-animate {
  animation: moveInBottom 2s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Responsive */

/* Large devices (900 - 1130) */
@media only screen and (min-width: 900px) and (max-width: 1130px) {
  .title {
    font-size: 60px;
  }

  .typing {
    font-size: 45px;
  }

  .About{
    font-size: 40px;
  }

  .About p{
    font-size: 18px;
    line-height: 25px;
  }

  .ExperienceHeader{
    font-size: 40px;
  }

  .experience {
    padding: 20px 20px;
  }

  .LogoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .placeholder-img {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }

  .stack {
    font-size: 25px;
  }

  .stackIcon {
    font-size: 50px;
  }

  .TechStackHeader{
    font-size: 40px;
  }

  .btn-white {
    padding: 10px 20px;
  }
}

/* Medium devices (700 - 900) */
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .content{
    align-items: center;
    text-align: center;
    padding-right: 0%;
    margin-top: 10%;
  }

  .left{
    left: 10%;
  }

  .right{
      left: 15%;
  }
  .contianer6{
    margin: 50px auto;
  }
  .container6::after{
    left: 10%
  }
  .container7{
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 50px;
  }

  .typing {
    font-size: 35px;
  }

  .About{
    font-size: 40px;
  }

  .About p{
    font-size: 16px;
    line-height: 23px;
  }

  .comp2{
    border-radius: 20px;
  }

  .ExperienceHeader{
    font-size: 30px;
  }

  .experience {
    padding: 20px 20px;
  }

  .LogoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .placeholder-img {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }

  .stack {
    font-size: 25px;
  }

  .stackIcon {
    font-size: 50px;
  }

  .TechStackHeader{
    font-size: 30px;
  }

  .btn-white {
    padding: 10px 20px;
  }
}

/* Small devices (300 - 700) */
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .content{
    align-items: center;
    text-align: center;
    padding-right: 0%;
    margin-top: 40%;
  }

  .title {
    font-size: 35px;
  }

  .typing {
    font-size: 25px;
  }

  .left{
    left: 10%;
  }

  .right{
      left: 15%;
  }
  .contianer6{
    margin: 50px auto;
  }
  .container6::after{
    left: 10%
  }
  .container7{
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 20px;
  }
  
  .BlackColor-Hover-Change:hover{
    color: black;
    background-color: white;
  }
  
  .WhiteColor-Hover-Change:hover{
    color: white;
    background-color: black;
  }

  .experience:hover{
    transform: scale(1);
    z-index: 1;
  }

  .About{
    font-size: 40px;
    margin: 0px 10%;
  }

  .About p{
    font-size: 16px;
    line-height: 23px;
  }

  .comp3
  {
    margin-bottom: 100px; 
  }

  .ExperienceHeader{
    font-size: 30px;
  }

  .experience {
    padding: 20px 20px;
  }

  .comp4{
    background-size: contain;  /* Ensures the full image fits inside */
  }
  .comp2{
    border-radius: 20px;
  }
  .LogoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .placeholder-img {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }

  .stack {
    font-size: 25px;
  }

  .stackIcon {
    font-size: 50px;
  }

  .stackIcon:hover {
    transform: scale(1);
  }

  .TechStackHeader{
    font-size: 30px;
  }

  .btn-white {
    padding: 10px 20px;
  }

  .education-content{
    padding: 20px;
    text-align: center;
  }

  .comp7{
    background-size: contain;
    background-image: none;
  }
}

